.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.case {
    border: 1px solid #ccc;
    padding: 10px;
}

.case img {
    max-width: 100%;
}

#pagination {
    margin-top: 20px;
}

#pagination button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #0056b3;
}
